$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #4e4e4e;
$font-color: #dfdfdf;
$white: #fff;

body {
  background-color: $background-color;
  color: $font-color;
}

.score {
  padding-top: 50px;
  text-align: center;
}
.box {
  border: 1px solid $white;
  padding: 40px;
  height: 100px;
  width: 100px;
  box-shadow: 0px 0px 15px;
  }
.container {
  float: left;
  // margin-left: 500px;
  margin-top: -189px;
  margin-left: 350px;
  margin-right: 0px;
  padding-top: 90px;
  width: auto;
}

.btn-primary {
  margin-top: 0px;
  margin-bottom: 10px;
  clear: right;
}
.btn-play {
  width: 200px;
  height: 40px;
  // margin-bottom: 0px;
  color: black;
  margin-right: -40px;
  float: left;
}
.players {
  float: left;
  text-align: center;
  height: 100px;
  width: 200px;
  margin-right: 1000px;
  margin-top: 50px;
}
.player {
  padding-top: 10px;
  border: 1px solid $white;
  width: 100px;
  height: 100px;
  float: left;
  // clear: right:
}
.header {
margin: 0px;
}
h1{
  text-align: center;
  margin-bottom: -40px;
  // margin-left: -100px;
  padding-bottom: 10px;
  // margin-top: -10px;
  // float: left;
}
#message {
  float:left;
  font-size: 14px;
  color: red;
}
